@{
    ViewBag.Title = "Confirm Email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" data-main="LoginMain.js" src="../Scripts/require.js"></script>
<h2>@ViewBag.Title</h2>
<div>
    <p>
        Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>

