@{
    ViewBag.Title = "Please Verify Email";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        An email was sent to <b>@ViewBag.Email</b>.
        <br /><br />
        Please check your email and verify your email address.
    </p> 
</div>